/* Banner */
.banner{width:100%;position:relative;background:#000000;margin:0;border-bottom:3px #00FFFF;border-bottom-style:solid;}
.banner .bd{margin:0 auto;position:relative;z-index:0;overflow:hidden;}
.banner .bd ul{width:100% !important;}
.banner .bd li{width:100% !important;height:100%;overflow:hidden;text-align:center;}
.banner .bd li a{display:block;height:410px;}
.banner .hd{width:100%;position:absolute;z-index:1;bottom:0;left:0;height:30px;line-height:30px;}
.banner .hd ul{text-align:center;}
.banner .hd ul li{cursor:pointer;display:inline-block;*display:inline;zoom:1;width:42px;height:11px;margin:1px;overflow:hidden;background:#000000;filter:alpha(opacity=50);opacity:0.5;line-height:999px;}
.banner .hd ul .on{background:#00FFFF;}
.banner .prev {position:absolute;top:50%;margin-top:-30px;left:5%;z-index:1;width:40px;height:60px;background:url(images/slider-arrow.png) -126px -137px #000 no-repeat;cursor:pointer;filter:alpha(opacity=50);opacity:0.5;display:none;}
.banner .next {position:absolute;top:50%;margin-top:-30px;left:5%;z-index:1;width:40px;height:60px;background:url(images/slider-arrow.png) -126px -137px #000 no-repeat;cursor:pointer;filter:alpha(opacity=50);opacity:0.5;display:none;}
.banner .next{left:auto;right:5%;background-position:-6px -137px;}
/* PhotoButton */
.photobutton {width:96%;position:relative;height:180px;margin:2% 2%;background:#000000;bottom:0px}