@font-face{font-family:SourceHanSansCN;src:url('../font/SourceHanSansCN-Normal.ttf')}
*{margin: 0;padding: 0;list-style:none;font-family:Helvetica, SourceHanSansCN;}
*{-webkit-transition:0.8s all;-moz-transition:0.8s all;-o-transition:0.8s all;-ms-transition:0.8s all}
html{height: 100%;}
body{background:#121212;text-align:left;height:100%}
.A{width:100vw;height:12.5vh}
.B{width:100vw;height:20vh;background:#000000;text-align:center}
.B_logo{height:16vh;margin:0 auto;margin-top:2vh}
.C{width:100vw;height:45vh;text-align:center}
#nav{width:75vw;margin:10vh auto}
#nav ul{}
#nav ul li{margin:3vh 0 0 0;font-size:4.5vh;line-height:8vh;color:#FFFFFF;background:#000000;border-left:0.5vw #D80808;border-left-style:solid;text-align:left}
#nav ul li:hover{color:#FFFFFF;background:#121212;border-left:0.5vw #D80808;border-left-style:solid;box-sizing:border-box;box-shadow: inset 74vw 0 0 0 #D80808;}
#nav ul li a{color:gray}
#nav ul li:hover a{color:#FFFFFF}
#nav ul li a:link{text-decoration:none}
#nav ul li a:visited{text-decoration:none}
#nav ul li{-webkit-transition:0.8s all;-moz-transition:0.8s all;-o-transition:0.8s all;-ms-transition:0.8s all}
#nav ul li a{-webkit-transition:0.8s all;-moz-transition:0.8s all;-o-transition:0.8s all;-ms-transition:0.8s all}
.D{width:100vw;height:12.5vh;color:gray;font-size:1vh;text-align:center}
.right{width:100vw;height:5vh;position:absolute;bottom:0}