@font-face{font-family:SourceHanSansCN;src:url('../font/SourceHanSansCN-Normal.ttf')}
*{margin:0;padding:0;list-style:none;box-sizing:border-box;font-family:Helvetica, SourceHanSansCN;}
*{-webkit-transition:1s all;-moz-transition:1s all;-o-transition:1s all;-ms-transition:1s all}
html{height:100%;}
body{height:100%}
.page{width:100vw;height:100vh;background:#F7F7F7}
/*----------LEFT&Right----------*/
.left{width:20vw;height:100vh;z-index:1;position:fixed;display:flex;flex-direction:column;background:url(../img/bg_left.png) no-repeat;background-size:20vw 100vh}
/*LOGO*/
.left_top{width:100%;height:25vh;display:flex;align-items:center}
.logo{width:8vw;margin-left:3.5vw}
/*LIST*/
.division{color:#FFFFFF;background:#202020;font-weight:bold;padding-left:2rem;height:2.8rem;display:flex;align-items:center;margin-bottom:0.2rem}
.left_middle ul .active{background:#D80808;color:#FFFFFF}
.left_middle ul li{position:relative;color:gray;height:2.8rem;transition:all 0.5s;display:flex;align-items:center;font-size:0.9rem;padding-left:3rem;cursor:pointer;margin-bottom:0.2rem}
.left_middle ul li a{font-size:0.9rem}
.left_middle ul li:before{content:"";position:absolute;left:0;width:0;height:100%;z-index:-1;transition: all 0.5s ease-out;}
.left_middle ul li:hover {color:#FFFFFF}
.left_middle ul li:hover:before {background:#D80808;color:white;width:100%}
/*About&CopyRight*/
.left_bottom{width:100%;height:3rem;position:absolute;bottom:0;}
.about{color:gray;line-height:1rem;height:1rem;transition:all 0.5s;font-size:0.9rem;text-align:center;}
.about a{cursor:pointer}
.about a:hover{color:#FFFFFF}
.copyright{position:relative;color:gray;line-height:2rem;height:2rem;transition:all 0.5s;text-align:center;font-size:0.1rem}

/*----------MAIN----------*/
/* All */
.main{width:80vw;height:100vh;float:right;background:url(../img/bg1.jpg) no-repeat;background-size:80vw 100vh}
.main_bg{width:80vw;height:100vh;z-index:0;position:fixed;opacity:0.5}
/*----------NEW BANNER----------*/
.banner_base{width:72vw;height:36vw;margin:calc(50vh - 20vw) 4vw 0 4vw}
.banner_menu{width:18vw;height:4vw;background:#000000;position:fixed;top:calc(50vh + 17vw);right:4vw}
.banner_menu li{width:3vw;height:3vw;list-style:none;float:left;display:inline-block;font:1vw;line-height:3vw;margin-left:0.5vw;margin-top:1vh;background:#151515;}
.banner_menu li:hover{-webkit-transform: rotate(45deg);transform: rotate(45deg)}
.banner_menu li button{width:3vw;height:3vw;background:#151515;border:none;color:#FFF;font-size:1vw}
.banner_menu li button:hover{background:#D80808}
.banner_menu li button .active{background:#D80808}

.banner1{width:72vw;height:36vw;position:absolute}
.banner2{width:72vw;height:36vw;position:absolute}
.banner3{width:72vw;height:36vw;position:absolute}
.banner4{width:72vw;height:36vw;position:absolute}
.banner5{width:72vw;height:36vw;position:absolute}

.banner_text_bg{width:48vw;height:36vw;background:#151515;opacity:0.5;position:absolute;z-index:1}
.banner_text{width:48vw;height:36vw;color:#FFF;position:absolute;z-index:2}
.banner_text h1{font-size:6vh;margin:1vw 2vw 0vw 2vw;}
.banner_text h2{font-size:3.5vh;margin:0vw 2vw 2vw 2vw;}
.banner_text p{font-size:2.5vh;margin:1vw 2vw 0vw 2vw;}
.banner_img{width:24vw;height:36vw;float:right}
.banner_img img{width:24vw;height:36vw}

.banner_barbg{width:72vw;height:0.5vh;background:#000;margin-left:4vw;overflow:hidden}
.banner_bar{background:#D80808;height:0.5vh;width:0;position:absolute}
    @keyframes mymove {
    0% {width: 0px;}
    100% {width: 72vw;}
  }
  @keyframes mymove1 {
    0% {width: 0px;}
    100% {width: 72vw;}
  }
  .box {margin:0;width: 72vw; height:0.5vh;background-color: #D80808;}
  .play {animation: mymove 5s infinite ease;}
  .restart {animation: mymove1 5s infinite ease;}
  
  .banner_button{display:inline-block;padding:0.5vw 1vw;font-size:1vw;color:#FFFFFF;background-color:#151515;text-decoration:none;float:right;position:absolute;right:2vw;bottom:2vw;}
.banner_button:hover{background-color:transparent;color:#FFFFFF;background:#D80808}