/*TOP CSS*/
* {
	margin: 0;
	padding: 0;
}

#loutinav {
	width: 100%;
	height:100px;
	position: fixed;
	top: 0px;
	left: 0px;
	border: 0px;
	display: none;
	background-color: #FFFFFF;
	z-index:999;
}

#loutinav .logo{
	margin-top: 35px;
	margin-left:35px;
	display: inline-block;
}

#loutinav ul {
	float:right;
	margin-right:35px;
}

#loutinav ul li {
	width: 80px;
	height: 25px;
	top:25px;
	border-bottom: 1px dotted #FFFFFF;
	list-style: none;
	font-size: 12px;
	text-align: center;
	position: relative;
	cursor: pointer;
	padding: 10px 0;
	background: #FFF;
	color: #4d4d4d;
	float:left;
	margin:10px;
}

#loutinav ul li span {
	width: 80px;
	height: 10px;
	padding: 10px 0;
	position: absolute;
	top: 0;
	left: 0;
	font-size:18px;
	letter-spacing:2px;
	line-height:10px;
}



#loutinav ul li.last {
	background: #000;
	color: #000;
	border-bottom: 0px solid #ddd;
	font-size:18px;
}

#loutinav ul li.active span {
	background: #FFF;
	color: #4d4d4d;
	display: block;
	border-bottom:2px solid #4d4d4d;
	font-size:18px;
	letter-spacing:2px; 
}

#loutinav ul li:hover span {
	background: #FFF;
	color: #4d4d4d;
	display: block;
	border-bottom:2px solid #4d4d4d;
	font-size:18px;
	letter-spacing:2px; 
}

#header {
	width: 1000px;
	height: 1000px;
	background: #cc6633;
	margin: 0 auto;
	 font-size: 18px;line-height: 1000px;text-align: center;
	 color: #000;
}

#main {
	width: 100%;
	background: #FFF;
	margin: 0 auto;
}

#main .louti {
	height: 600px;
	width: 100%;
	color: #000;
	font-weight: bold;
}


#footer {
	width: 1000px;
	height: 400px;
	background: red;
	margin: 0 auto;
	font-size: 50px;line-height: 400px;text-align: center;
	 color: #000;
}
#space {
	height:100px;
	width:100%;
}
#bg {
	width:100%;
	height:auto;
}
#introduce {
	width:200px;
	height:400px;
	margin-left:50px;
	margin-right: 50px;
}